# /etc/systemd/system/RaspberryWeather.service
[Unit]
Description=RaspberryWeather
After=network-online.target
Wants=network-online.target

[Service]
User=pi
WorkingDirectory=/home/pi/RaspberryWeather
ExecStart=/home/pi/RaspberryWeather/RaspberryWeather
Restart=on-failure
RestartSec=3
StandardOutput=journal
StandardError=inherit
ProtectHome=false


[Install]
WantedBy=multi-user.target
